<html>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]--> 
<!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]--> 
<!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]--> 
<!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]--> 
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-Frame-Options" content="ALLOW-FROM http://152.3.69.157:49151/">
<title>CBB520 Assignment</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold"> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<!-- <script type="text/javascript" src="/home/fl118/CBB520_assignment3/jmol-16.1.47/jsmol/JSmol.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jmol-14.32.83/jsmol/JSmol.min.js') }}"></script>
</head>

<body id="home">
<section class="main">
<div id="Content" class="wrapper topSection">
	<div id="Header">
	<div class="wrapper">
		<div class="logo"><h1><img src="{{ url_for('static', filename='images/logo1.jpg') }}" />Protein Coding Gene SIX6</h1>	</div>
        <h3>A Webpage of SIX6 Features Designed for CBB520 at Duke</h3>
        <h4>Fangrui Liu, Xinning Li, Yongjun Lu, Jiaqi Liu</h4>
		</div>
	</div>
</div>


<section class="features spacing">
  <div class="container">
    <h2 class="text-center">Features</h2>
    <h3>Gene Description</h3>
    <p>SIX6 (SIX Homeobox 6) gene is one of the homeobox transcription factors in the SIX/sine oculis family. It is located on Chromosome 14 (14q23.1), linked to SIX1 and SIX4. The corresponding protein is a homeobox protein similar to the product of the Drosophila ‘sine oculis’ gene in fly’s visual system. The protein has a divergent DNA-binding homeodomain and an upstream SIX domain, which are assumed to play a role in DNA-binding and protein-protein interactions. </p>
    <h3>Expression and Features</h3>
    <p>SIX6 has a high level of expression in human in the cilary body, choroid, sclera, optic nerve head, and retina. It is believed to be associated with early eye development. Specifically, it is suggested that SIX6 regulates early retinal progenitor cell proliferation as part of the eye development.</p>
    <h3>Relationship with Glaucoma</h3>
    <p>SIX6 locus has been associated with the development of primary open-angle glaucoma (POAG), which is a leading cause of blindness worldwide. It is believed that SIX6 gene variants lead to increased POAG susceptibility by suppressing retinal ganglion cell development, which subsequently results in reduced number of retinal ganglion cells in adulthood. The reduction in the number of retinal ganglion cells during adulthood hastens the development of glaucomatous optic neuropathy as it naturally decreases with aging. One common nonsynonymous SNP of SIX6 known as rs33912345 is found to alter SIX6 protein, leading to an increase in vertical cup-disc ratio (VCDR), which can lead to POAG.</p>
    <h3>Reference</h3>
    <ul>
      <li><a href="https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1004372">Discovery and Functional Annotation of SIX6 Variants in Primary Open-Angle Glaucoma</a></li>
      <li><a href="https://www.omim.org/entry/606326">SIX HOMEOBOX 6; SIX6</a></li>
      <li><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=SIX6">SIX6 Gene - SIX Homeobox 6</a></li>
      <li><a href="https://academic.oup.com/hmg/article/23/5/1320/633377">Exome sequencing and functional analyses suggest that SIX6 is a gene involved in an altered proliferation–differentiation balance early in life and optic nerve degeneration at old age</a></li>
    </ul>
  </div>
</section>

</section>
<section class="searching spacing">
<div class="container">
    <h2 class="text-center">BLAST Search</h2>
<div id="subscribe">
  <p>Search a protein sequence against 10 versions of this particular protein from different species</p>
        <form action="{{ url_for('submit') }}" method="post">
          <label for="input_sequence">Enter Your Sequence</label>
          <input type="text" id="input_sequence" name="user_input">
          <input type="submit" value="Submit"/>
        </form>
</div>
</div>
</section>

</section>
<section class="searching spacing">
<div class="container">
    <h2 class="text-center">SNP Search</h2>
<div class="text-center">
  <p>Press the 'Show All' button to check all the information</p>
  <form action="{{ url_for('snp_show_all') }}" method="GET">
    <input type="submit" value="Show All"/>
  </form>
  <p>Press the 'Synonymous' button to check all synonymous SNPs information</p>
  <form action="{{ url_for('snp_show_synonymous') }}" method="GET">
    <input type="submit" value="Synonymous"/>
  </form>
</form>
<p>Press the 'Non-Synonymous' button to check all synonymous SNPs information</p>
<form action="{{ url_for('snp_show_non_synonymous') }}" method="GET">
  <input type="submit" value="Non-Synonymous"/>
</form>

</div>
<div id="subscribe">
        <p>Search for information on SNPs found in SIX6</p>
        <form action="{{ url_for('snp_by_number') }}" method="post">
          <label for="input_sequence">Enter Your dsSNP number</label>
          <input type="text" id="input_snp_number" name="user_snp_number">
          <input type="submit" value="Submit"/>
          </form>
</div>
</div>
</section>

<div class="container">
  <h2 class="text-center">Upload your PDB File</h2>

  <div id="subscribe" >
      <form action="{{ url_for('upload_pdb') }}" method="post" enctype="multipart/form-data">
          <label for="pdbFile">Upload PDB File:</label>
          <input type="file" id="pdbFile" name="pdb_file" class="form-control">
          <input type="submit" value="Upload" class="btn btn-primary mt-3">
      </form>
  </div>
</div>


<h2 class="text-center">Jmol Protein Viewer</h2>

    <!-- Jmol applet container -->


    <!-- Jmol script to load protein structure -->
    <h3>Horse</h3>
    <div id="jmolAppletHorse" style="width: 10px; height: 10px";></div>
    <script type="text/javascript">
        Jmol.getApplet('jmolAppletHorse', {
            width: 800,
            height: 500,
            j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  // Replace with the correct path
            script: 'load {{ url_for('static', filename='/AF-F6UQT2_horse-F1-model_v4.pdb') }}', // Replace with the actual path
        });
    </script>

   
   <h3>Cattle</h3>
   <div id="jmolAppletCattle" style="width: 10px; height: 10px;"></div>
   <script type="text/javascript">
        Jmol.getApplet('jmolAppletCattle', {
            width: 800,
            height: 500,
            j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  // Replace with the correct path
            script: 'load {{ url_for('static', filename='/AF-A6QQM5_cattle-F1-model_v4.pdb') }}',  // Replace with the actual path
        });
    </script>


   <h3>Chicken</h3>
   <div id="jmolAppletChicken" style="width: 10px; height: 10px;"></div>
   <script type="text/javascript">
    Jmol.getApplet('jmolAppletChicken', {
        width: 800,
        height: 500,
        j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  // Replace with the correct path
        script: 'load {{ url_for('static', filename='/AF-O93307_chicken-F1-model_v4.pdb') }}',  // Replace with the actual path
    });
   </script>

    <h3>Chimpanzee</h3>
    <div id="jmolAppletChimp" style="width: 10px; height: 10px;"></div>
    <script type="text/javascript">
    Jmol.getApplet('jmolAppletChimp', {
        width: 800,
        height: 500,
        j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  // Replace with the correct path
        script: 'load {{ url_for('static', filename='/AF-A0A6D2XFP5_chimp-F1-model_v4.pdb') }}',  // Replace with the actual path
    });
    </script>

    <h3>Rat</h3>
    <div id="jmolAppletRat" style="width: 10px; height: 10px;"></div>
    <script type="text/javascript">
    Jmol.getApplet('jmolAppletRat', {
        width: 800,
        height: 500,
        j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  // Replace with the correct path
        script: 'load {{ url_for('static', filename='/AF-D3ZCC7_rat-F1-model_v4.pdb') }}',  // Replace with the actual path
    });
    </script>

    <h3>Zebrafish</h3>
    <div id="jmolAppletZebraFish" style="width: 10px; height: 10px;"></div>
    <script type="text/javascript">
    Jmol.getApplet('jmolAppletZebraFish', {
        width: 800,
        height: 500,
        j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  // Replace with the correct path
        script: 'load {{ url_for('static', filename='/AF-O73709_zebrafish-F1-model_v4.pdb') }}',  // Replace with the actual path
    });
    </script>

    <h3>Human</h3>
    <div id="jmolAppletHuman" style="width: 10px; height: 10px;"></div>
    <script type="text/javascript">
    Jmol.getApplet('jmolAppletHuman', {
        width: 800,
        height: 500,
        j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  
        script: 'load {{ url_for('static', filename='/AF-O95475_human-F1-model_v4.pdb') }}', 
    }); 
    </script>

    <h3>Mouse</h3>
    <div id="jmolAppletMouse" style="width: 10px; height: 10px;"></div>
    <script type="text/javascript">
    Jmol.getApplet('jmolAppletMouse', {
        width: 800,
        height: 500,
        j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  
        script: 'load {{ url_for('static', filename='/AF-Q9QZ28_mouse-F1-model_v4.pdb') }}', 
    }); 
    </script>

    <h3>Adelie Penguin</h3>
    <div id="jmolAppletAdeliePenguin" style="width: 10px; height: 10px;"></div>
    <script type="text/javascript">
    Jmol.getApplet('jmolAppletAdeliePenguin', {
        width: 800,
        height: 500,
        j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  
        script: 'load {{ url_for('static', filename='/Adelie_Penguin.pdb') }}', 
    }); 
    </script>

    <h3>Fishing Cat</h3>
    <div id="jmolAppletFishingCat" style="width: 10px; height: 10px;"></div>
    <script type="text/javascript">
    Jmol.getApplet('jmolAppletFishingCat', {
        width: 800,
        height: 500,
        j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  
        script: 'load {{ url_for('static', filename='/Fishing_Cat.pdb') }}', 
    }); 
    </script>

     <h3>Chinese Tree Shrew .pdb</h3>
     <div id="jmolAppletChinese" style="width: 10px; height: 10px;"></div>
     <script type="text/javascript">
        Jmol.getApplet('jmolAppletChinese', {
            width: 800,
            height: 500,
            j2sPath: '{{ url_for('static', filename='/js/jmol-14.32.83/jsmol/j2s') }}',  
            script: 'load {{ url_for('static', filename='/Chinese_Tree_Shrew .pdb') }}', 
        }); 
      </script>
    

</body>
</html>